<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <!-- Include the above in your HEAD tag -->

    <div class="sidenav">
        <div class="login-main-text">
            <h1>Zōidion</h1>
            <p>ζ‎‎‎‏‏‎ ‎‏‏‎‏‏‎ ‎ ‎‏‏‎ ‎ῴ‏‏‎ ‎‏‏‎‏‏‎ ‎ ‎‏‏‎ ‎δ‏‏‎ ‎‏‏‎ ‏‏‎ ‎‎‏‏‎ ‎ι‏‏‎ ‎‏‏‎ ‏‏‎ ‎‎‏‏‎ ‎ο‏‏‎ ‎‏‏‎ ‎‏‏‎‏‏‎ ‎ ‎ν</p><br/><br/><br/><br/><br/>
            <p>Welcome</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12" id="loginCont">
            <div class="login-form">
                <div class="col-md-1 col-sm-8"></div>
                    <div class = "form-group">
                        <h1>Congratulations! Your account has been verified</h1>
                        <a class="btn btn-primary" href="{{url_for('index')}}">Click here to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>