<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horoscope</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="static/css/welcome.css" rel="stylesheet">
    
    <meta property="og:url"           content="{{link}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Horoscope" />
    <meta property="og:description"   content="Your description" />
    <meta property="og:image"         content="#" />
</head>

<body>
    <div class="hero-full-container background-image-container white-text-container"
        style="background-image:url('static/images/moon.jpeg')">
        <div class="overlay-gradient"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7 col-md-offset-1">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>{{horoscopeName.upper()}} - {{horoscope['current_date']}}</h1>
                            <p>{{horoscope['description']}}</p>
                            <p>Color: {{horoscope['color']}}</p>
                            <p>Compatibility: {{horoscope['compatibility']}}</p>
                            <p>Lucky Number: {{horoscope['lucky_number']}}</p>
                        </div>

                        <a class="btn btn-secondary" href="{{url_for('logout')}}" role="button">Logout</a>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Change Password</button>
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="Q7ZDwrTs"></script>
                        <div class="fb-share-button" data-href="{{link}}" data-layout="button_count" data-size="small">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                Share
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" oninput="passwordChecker()" class="form-control" id="password"
                            placeholder="Enter Password" required>
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" oninput="registerValidateForm()" class="form-control"
                            id="confirmpassword" placeholder="Enter Password" required disabled>
                    </div>

                    <div class="form-group">
                        <p id="errorMessage" style="color: red;"> </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="updatePassword()" type="button" class="btn btn-primary" id="saveBtn"
                        disabled>Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>




</body>
<script>

    window.onload = function () {
        created_at = "{{created_at |safe}}"
        if (created_at != "") {
            window.alert(created_at + " Remaining till force change of password")
        }
    };

    function registerValidateForm() {
        var x = document.getElementById('password').value;
        var y = document.getElementById('confirmpassword').value;

        if (x != y) {
            document.getElementById('errorMessage').innerHTML = "Passwords do not match";
            document.getElementById("saveBtn").disabled = true;
        } else {
            document.getElementById('errorMessage').innerHTML = "";
            document.getElementById("saveBtn").disabled = false;
        }
    }

    function passwordChecker() {
        var x = "{{username | safe}}";
        var y = document.getElementById('password').value;

        if (y.length < 10) {
            document.getElementById("confirmpassword").disabled = true;
            document.getElementById("registerBtn").disabled = true;
            document.getElementById("confirmpassword").value = "";
        }

        //Checks if length of the password is greater than 10
        if (y.length >= 10) {
            $.ajax({
                url: '/checkPass',
                type: 'POST',
                data: { 'password': y, 'username': x },
                success: function (response) {
                    if (response == " ") {
                        document.getElementById("confirmpassword").disabled = false;
                        document.getElementById('errorMessage').innerHTML = response;
                    } else {
                        document.getElementById('errorMessage').innerHTML = response;
                        document.getElementById("saveBtn").disabled = true;
                        document.getElementById("confirmpassword").disabled = true;
                    }

                }
            })
        } else {
            document.getElementById('errorMessage').innerHTML = "Password Length must be 10 characters or more";
        }
    }

    function updatePassword() {
        var x = document.getElementById('password').value;
        $.ajax({
            url: '/updatePassword',
            type: 'POST',
            data: { 'password': x },
            success: function (response) {
                if (response === "Sucess") {

                    document.getElementById("closeModal").click();
                    document.getElementById('password').value = "";
                    document.getElementById('confirmpassword').value = "";
                } else {
                    document.getElementById('errorMessage').innerHTML = response;
                    document.getElementById("saveBtn").disabled = true;
                    document.getElementById("confirmpassword").disabled = true;
                    document.getElementById('errorMessage').innerHTML = response;
                }
                console.log(response)
            }
        })
    }

</script>

</html>